 #carte {
    width: 50%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px; 
    background-color:black;
    color: white;
  }

  #titre{
    color:gold;
  }